.mmb_category > ul {
  border: 1px solid #ccc;
}
.mmb_category > ul > li {
  border-bottom: 1px solid #ccc;
  background-color: #ededed;
  font-size: 16px;
  font-weight: 700;
}
.mmb_category > ul > li ul {
  padding: 0 !important;
  background-color: #f9f9f9 !important;
}
.mmb_category > ul > li li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 33.33%;
  float: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: 400;
  font-size: 14px;
}
.mmb_category > ul > li li a {
  display: block;
  height: 100%;
  width: 100%;
}
