.mmb_header {
  background-color: #F4483E;
}
.mmb_header .header_left {
  color: #fff;
}
.mmb_header .middle {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.tips {
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
.mmb_main li {
  padding: 10px;
  border-bottom: 1px solid #E7E7E7;
}
.mmb_main li a {
  display: block;
  height: 80px;
  padding-left: 110px;
  position: relative;
}
.mmb_main li a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 80px;
}
.mmb_main li a > div {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.mmb_main li a span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.mmb_main li a p {
  font-size: 12px;
  color: #EE7700;
  padding: 10px 0;
  margin: 0;
}
.mmb_main li .mui-popover.mui-active img {
  width: 100%;
}
.dsn {
  display: none;
}
.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal .box {
  width: 100%;
  height: 300px;
  margin-top: 30%;
  position: relative;
}
.modal .box i {
  display: inline-block;
  font-size: 40px;
  margin: 10px;
  height: 100%;
  color: #fff;
  vertical-align: middle;
  background: #524d4d;
  border-radius: 5px;
}
.modal .box i::before {
  position: relative;
  top: 20px;
}
.modal .left {
  margin-top: 10%;
  float: left;
  width: 25%;
  height: 75px;
  text-align: right;
}
.modal .img {
  float: left;
  width: 50%;
  overflow: hidden;
  position: relative;
}
.modal .img ul {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 1s;
}
.modal .img ul li {
  width: 100%;
}
.modal .img ul li img {
  width: 100%;
}
.modal .right {
  margin-top: 10%;
  float: left;
  width: 25%;
  height: 75px;
}
.modal .close {
  color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
