.mmb_header .header_left {
  color: #fff;
}
.mmb_header .middle {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.mmb_nav {
  height: 40px;
  padding-right: 40px;
  background-color: #fff;
  position: relative;
}
.mmb_nav li {
  float: left;
  width: 33.33%;
  text-align: center;
  line-height: 40px;
}
.mmb_nav li span {
  vertical-align: middle;
  font-size: 16px;
}
.mmb_nav li .mui-icon {
  font-size: 14px;
  margin-left: 10px;
}
.mmb_nav ul > span {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  color: #808080;
  z-index: 10;
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #DADADA;
}
.nav_second .one,
.nav_second .two,
.nav_second .three {
  background: #fff;
}
.nav_second .one li,
.nav_second .two li,
.nav_second .three li {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #EDEDED;
  padding-left: 10px;
  font-size: 16px;
}
.nav_second .one li span,
.nav_second .two li span,
.nav_second .three li span {
  display: block;
  float: right;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  line-height: 40px;
  font-size: 40px;
  color: #FF841D;
}
.dsn {
  display: none;
}
.product ul li {
  float: left;
  height: 250px;
  width: 50%;
  background-color: #F1F1F1;
}
.product ul li a {
  display: block;
  height: 98%;
  margin: 4px;
  background-color: #fff;
  padding: 10px;
  padding-top: 0;
}
.product ul li a .pic img {
  display: block;
  margin: 0 auto;
  height: 174px;
  width: 174px;
}
.product ul li a .td {
  font-size: 12px;
  overflow: hidden;
}
.product ul li a .other .price {
  float: left;
  color: #f8601d;
  font-size: 20px;
}
.product ul li a .other .btn {
  float: right;
  background-color: #FF9501;
  padding: 4px 10px;
  color: #fff;
}
