.mmb_nav {
  padding: 10px 0;
  background: #fff;
  margin-bottom: 10px;
}
.mmb_nav > a {
  float: left;
  width: 25%;
  text-align: center;
}
.mmb_nav > a img {
  width: 50%;
  padding: 10px 0;
  margin: 0 auto;
}
.mmb_content {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.mmb_content li {
  border-bottom: 1px solid #e7e7e7;
}
.mmb_content a {
  display: block;
  height: 120px;
  width: 100%;
  padding: 10px 10px 10px 110px;
  position: relative;
}
.mmb_content a img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}
.mmb_content .product_right {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}
.mmb_content .product_right .price {
  color: #ff841d;
}
.mmb_content .product_right > p {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
.mmb_content .product_right > p > span {
  padding-top: 4px;
  padding-right: 3px;
  font-size: 10px;
}
.mmb_more {
  padding: 10px;
  width: 100%;
}
.mmb_more .more_btn {
  display: block;
  height: 100%;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 32px;
  padding: 0;
  background: linear-gradient(#ffffff, #f4f4f4);
}
