.mmb_header .header_left {
  color: #fff;
}
.mmb_header .middle {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.mmb_main {
  background: #fff;
  padding: 10px 0 20px;
}
.mmb_main .info {
  width: 340px;
  padding: 5px;
  margin: 0 auto;
}
.mmb_main .info a {
  display: block;
  width: 150px;
  padding: 10px 8px;
  background: #F4F4F4;
  border: 1px solid #BFBFBF;
  float: left;
  font-size: 16px;
  margin: 5px;
}
.mmb_main .info a img {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
